body {
    font-family: 'Kanit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #d0d0ce;
    /* background-image: linear-gradient(170deg, #B621fe, #1fd1f9); */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1;
}

.signup-box {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.15);
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #444444;
    margin-bottom: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}

.textboxtop {
    width: 90%;
    border-bottom: 1px solid #666666;
}

.textboxtop input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    color: #333333;
    font-weight: bold;
}

.textbox {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #666666;
    margin: 16px 0;
}

.textbox input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    color: #333333;
    font-weight: 600;
}

.input {
    width: 100%;
    border: 2px solid #666666;
    padding: 2px;
    border-radius: 7px;
}

.text{
    font-size: 12px;
}

.button2{
    background-color: #333333;
    color: #d0d0ce;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 95%;
}

